# Copy this file to .env and fill in the values for local development.
ROCKETREACH_API_KEY=
BRAVE_SEARCH_API_KEY=
GITHUB_TOKEN=
HaveIBeenPwned_API_KEY=
Hunter_API_KEY=
HunterIO_API_KEY=
Project_Discovery_API_KEY=
Censys_Token=
Censys_Organization_ID=
